<% define "detail" %><!DOCTYPE html>
<html lang="en" ng-app="argoApp">
<head>
  <% template "partials/head" . %>
  <script src="<% .StaticURL %>js/angular.min.js"></script>
  <script src="<% .StaticURL %>js/angular-resource.min.js"></script>
  <script src="<% .StaticURL %>js/angular-route.min.js"></script>
</head>
<body ng-controller="IndustryDetailCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ industry.name }}</h1>
        <p>{{ industry.about }}</p>

        <p>{{ pk }}?</p>
      </div>
    </div>
  </div>
  <% template "partials/scripts" . %>
  <script src="<% .StaticURL %>js/app.js"></script>
</body>
</html><% end %>
