<% define "index" %><!DOCTYPE html>
<html lang="en" ng-app="argoApp">
<head>
  <% template "partials/head" . %>
  <script src="<% .StaticURL %>js/angular.min.js"></script>
  <script src="<% .StaticURL %>js/angular-resource.min.js"></script>
  <script src="<% .StaticURL %>js/angular-route.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div ng-view></div>
    </div>
  </div>
  <script src="<% .StaticURL %>js/app.js"></script>
  <% template "partials/scripts" . %>
</body>
</html><% end %>
