<% define "index" %><!DOCTYPE html>
<html lang="en" ng-app="argoApp">
<head>
  <% template "partials/head" . %>
  <script src="<% .StaticURL %>js/angular.min.js"></script>
  <script src="<% .StaticURL %>js/angular-resource.min.js"></script>
  <script src="<% .StaticURL %>js/angular-route.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2><a href="/companies">Companies</a></h2>
        <h2><a href="/industries">Industries</a></h2>
      </div>
    </div>
  </div>
  <% template "partials/scripts" . %>
  <script src="<% .StaticURL %>js/app.js"></script>
</body>
</html><% end %>
