<div class="row">
  <div class="col-md-6">
    <h1>Companies <small>({{companies.length}})</small></h1>
    Search: <input class="form-control" ng-model="query">
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="-id">Newest</option>
    </select>
    <ul>
      <li ng-repeat="company in companies | filter:query | orderBy:orderProp">
        <h4><a href="/#/companies/{{company.id}}">{{company.name}}</a></h4>
        <p>{{company.created_at}}</p>
      </li>
    </ul>
  </div>
</div>